.sign, .log{
    display: grid;
    align-items: center;
    min-height: 550px;
    justify-content: center;
}

.sign form, .log form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: #fff;
    width:260px;
    height:400px;
    border-radius: 20px;
}

.sign form input, .log form input {
    margin:8px;
    padding:4px;
    width:220px;
    height:42px;
    text-indent: 5px;
}

.hom{
    margin: 200px;
    text-align: center;
    font-size: 50px;
    color: red;
    text-shadow: #ffffffd6;
}

.main-nav{
    display: grid;
    grid-template-rows: 50px;
    border-radius: 12px;
    background-color: rgba(0, 0, 0, 0.509); 
}

.main-nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
    
  .main-nav ul li{
    list-style: none;
    margin: 20px;
  }
  
  .main-nav ul div{
    display: flex;
  }
  
  a{
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500px;
  }
  
  a:hover{
    color: rgba(0, 255, 187, 0.732);
  }
  


  .main{
    display: flex;
    flex-wrap: wrap;  /* if content is outside the 1-D (row) then it move content in next line */
  }
  
  .shopping-card{
    justify-content: space-between;
    background-color: skyblue;
    padding: 10px;
    font-size: large;
  }
  
  .product-item {
    padding: 20px;
  }